.liveauction-card{
    width: min-content!;
}

closeButton{
color: aliceblue !important;
}

.top_martg{
    /* margin-top: -9rem;
    margin-left: 0rem; */
}

.timer_here{
   display: flex;
   justify-content:space-between;
}

.inner_div_model{
    display: flex;
    justify-content: end;
}

.fonther{
    font-size: 25px;
   
}